
#footer {
    background: #36454F;
    color: white;
    box-shadow: 0 10px 20px rgba(0,0,0,0.23), 0 6px 6px rgba(0,0,0,0.23);
    height: fit-content;
    margin-top: 0%;
    align-content: center;
    margin-top: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px;
  }

#footer-right {
  display: flex;
  flex-direction: column;
}

.footer-item{
  color: white;
  cursor: pointer;
}

.footer-item:hover{
  color: white;
  cursor: pointer;
}