@import url('https://fonts.googleapis.com/css?family=Open Sans');

  /* --------------------------------- Hero image and overlayed content -------------------------------- */
.hero-image {
    /* "linear-gradient" to add a darken background effect to the image. 
    This makes the text easier to read */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://img.freepik.com/free-vector/hand-drawn-travel-background_52683-85109.jpg?w=2000");
  
    /* Set a specific height */
    height: 20vh;
  
    /* Position and center the image to scale nicely on all screens */
    background-position: 0% 90%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    position: sticky;
    justify-content: center;
  }
  
  /* Place text in the middle of the image */
  .hero-text {
    align-self: center;
    text-align: center;
    color: white;
    position: relative;
    font-family:"Open Sans";
    display:flex;
    flex-direction: column;
    justify-content: center;
  }

  .hero-text > h2{
    font-size: 1.8rem;
  }

  .hero-button-container{
    display: flex;
    flex-direction: row;
    width: fit-content;
    justify-content: center;
    align-self: center;
  }

  .hero-button{
    background-color: #FF5555;
    box-shadow: 0 10px 20px rgba(0,0,0,0.23), 0 6px 6px rgba(0,0,0,0.23);
    border-radius: 15px;
    text-decoration: none;
    cursor: pointer;
    padding: 10px;
    color: white;
    margin-top: 5px;
  }

  .hero-button:hover{
    background-color: coral;
    box-shadow: 0 10px 20px rgba(0,0,0,0.23), 0 6px 6px rgba(0,0,0,0.23);
    border-radius: 15px;
    text-decoration: none;
    cursor: pointer;
    padding: 10px;
    color: white;
    margin-top: 5px;
  }

  /* ----------- phone view - 1 column only ------ */
@media only screen and (max-width: 600px) {
  .hero-text {
    align-self: center;
    text-align: center;
    color: white;
    position: relative;
    font-family:"Open Sans";
    display:flex;
    flex-direction: column;
    justify-content: center;
  }

  #hero-text{
    font-size: 3rem;
    position: absolute;
  }

  .hero-text > h2{
    font-size: 1.5rem;
  }
}
