.outer-container{
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
}

.profile-tab-container{
    display: flex;
    flex-direction: column;
    box-shadow: 0 10px 20px rgba(0,0,0,0.23), 0 6px 6px rgba(0,0,0,0.23);
    padding: 1%;
    margin-top: 2%;
    overflow: hidden;
    width: 100%;
    min-height: calc(100vh - 90px - 200px); /* 90px is height of navbar. 200 is footer*/
    height: fit-content;
    margin-bottom: 2%;
}

.nav-link, .nav-link:focus, .nav-link:hover, .nav-link.active {
    color: black;
}

.tab-pane, .tab-content{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.tab-content-top-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* ------------------- personal info tab ------------------- */
#personal-info-tab {
    padding: 3%;
}

#profile-picture-container, #username-container{
    margin-top: 2%;
    display: flex;
}

#profile-picture-container{
    flex-direction: row;
    justify-content: center;
    margin-bottom: 2%;
}

#username-input{
    width: 300px;
    margin-right: 2%;
    margin-left: 2%;
}

#username-container{
    justify-content: center;
}

#username-input-label{
    align-self: center;
}

#profile-pic{
    height: 180px;
    border-radius: 50%;
    border: 1px solid grey;
}


#edit-profile-picture-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#change-picture-button{
    height: 40px;
}

.modal-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#profile-pic-input{
    align-self: center;
    margin-bottom: 2%;
}

/* -------------------- friends tab ------------------------------------*/
.shaded-container{
    display: flex;
    flex-direction: column;
    box-shadow: 0 10px 20px rgba(0,0,0,0.23), 0 6px 6px rgba(0,0,0,0.23);
    margin-top: 2%;
    padding: 2%;
}

#search-friends-button{
    width: 100px;
}

#search-bar-container{
    display: flex;
    flex-direction: row;
    margin-top: 2%;
    margin-bottom: 2%;
}

#existing-friends-container{
    display: flex;
    flex-direction: column;
    box-shadow: 0 10px 20px rgba(0,0,0,0.23), 0 6px 6px rgba(0,0,0,0.23);
    margin-top: 2%;
    padding: 2%;
}

.friend-search-result{
    display: flex;
    flex-direction: row;
    box-shadow: 0 10px 20px rgba(0,0,0,0.23), 0 6px 6px rgba(0,0,0,0.23);
    margin-top: 2%;
    padding: 2%;
    align-items: center;
    justify-content: space-around;
}

.friend-search-result-left{
    display: flex;
    flex-direction: row;
}

.friend-search-result-right{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.friend-search-result-right > *, .friend-search-result-left > * {
    margin-left: 2%;
}

.friend-search-result-left > img, .friend-container.inner > img{
    height: 70px;
    margin-right: 2%;
}

.friend-search-result-left > p{
    align-self: center;
    margin-right: 2%;
}

/* friendships */
.friend-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2%;
    align-items: center;
    margin-top: 2%;
}

.friend-container.inner{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2%;
    align-items: center;
    height: 70px;
    margin-top: 2%;
}

/* ------ hidden UID ----- */

#current-user-uid{
    font-size: 0.0000001px;
    color: rgba(206, 203, 203, 0.591);
}