p{
    margin-top: 0px;
    margin-bottom: 0px;
}

#itinerary-tab{
    display: flex;
    flex-direction: column;
    padding: 2%;
}

#itinerary-tab > *{
    margin-top: 2%;
}

#finalized-dates{
    /* draws dotted line */ 
    border: 3px dotted #bbb;
    padding: 2%;
}

.number-comments-p{
    text-decoration: underline;
    cursor: pointer;
}

.number-comments-p:hover{
    color:cadetblue;
}

.add-comment-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

[id^=post-comment-button-], [id^=add-comment-button-]{
    font-size: small;
}


[id^=add-comment-input]{
    font-size: small;
}

[id^=add-comment-input-container]{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* new event modal -------------------------------------------------------------------------------*/
/* event type drop down ----------------------*/

.modal-content{
    padding: 2%;
    padding-right: 4%;
}

.modal-body > *{
    margin-top: 1%;
}

.modal-footer{
    justify-content: space-between;
}

.dropdown.date-collection-type{
    max-width: 100%;
}

.event-dates-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.event-dates-container :nth-child(2) {
    margin-left: 2%;
}

.ask-event-participation-input-container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.ask-event-participation-input-container > p{
    margin-left: 1%;
}

.dropdown.event-type > button, .label-and-input-container-start-date > div,
.label-and-input-container-end-date > div{
    margin-top: 1%;
}

/* phone view */
@media only screen and (max-width: 600px) {
    .event-dates-container :nth-child(2) {
        margin-left: 0%;
    }
}

/* event divs --------------------------------------------------------------------------------------*/
.event-container{
    display: flex;
    flex-direction: column;
    box-shadow: 0 10px 20px rgba(0,0,0,0.23), 0 6px 6px rgba(0,0,0,0.23);
    padding: 1%;
}

.event-container > * {
    margin-top: 5px;
}

.event-type-title-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    height: fit-content;
}

.listed-event-event-type{
    background-color: aquamarine;
    width: fit-content;
    padding: 2px;
}

.event-title{
    font-weight: bold;
}

.participants-comments-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    height: fit-content;
    border-bottom: 1px solid rgba(128, 128, 128, 0.516);
}

.event-dates, .event-status, .number-participants-p, .number-comments-p{
    font-size: small;
}

#hidden-friends-profiles, #hidden-user-uid, 
#hidden-trip-participants, #hidden-trip-id, #hidden-eventToOpen{
    visibility: hidden;
}
