/* ------------------- participants tab ------------------- */
#participants-tab {
    padding: 3%;
}

#participants-overview-container, #participants-details-div-container{
    margin-top: 2%;
}

.participant-div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: fit-content;
    box-shadow: 0 10px 20px rgba(0,0,0,0.23), 0 6px 6px rgba(0,0,0,0.23);
    justify-content: flex-start;
    padding: 2%;
    margin-top: 2%;
}

.participant-div > div{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: fit-content;
    align-self: center;
}

#abandon-trip-button{
    margin-bottom: 20px;
}

.participant-div-dates-action > button{
    height: 40px;
}

.dates-available-container{
    display: flex;
    width: fit-content;
}

.dates-available-container > input{
    margin-top: 2%;
    width: fit-content;
}

.multiselect-friends-container{
    margin-top: 2%;
}

.participant-div-username, .participant-div-status{
    width: 20%;
}

.participant-div-dates-available{
    width: 30%;
}

.participant-div-dates-action{
    margin-left: auto; /* align right */
    width: 120px;
}

.btn.btn-secondary.hundred-twenty{
    width: 120px;
}

.username-picture-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profile-picture{
    height: 70px;
    margin-right: 2%;
}

.final-dates-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

}

#edit-final-date-button{
    margin-left: 2%;
}

/* phone view */
@media only screen and (max-width: 600px) {
    .participant-div > div{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: fit-content;
        width: 100%;
        margin-bottom: 2%;
    }

    .participant-div-dates-action{
        margin-top: 4%;
    }

    .btn.btn-secondary.hundred-twenty{
        width: 100%;
    }
  }

/* ----------- participants tab - edit participants detail modal ------------- */
.dotted{
    /* draws dotted line */ 
    border-top: 3px dotted #bbb;
}

.dropdown-item.date-collection-type{
    /* break long text to multiple lines */
    word-wrap: break-word;
    white-space: normal;
    /* separate options with line */
    border-bottom: 1px dotted #bbb;
}

.dropdown-menu.date-collection-type{
    /* break long text to multiple lines */
    max-width: 100%;
}

#date-collection-type{
    word-wrap: break-word;
    white-space: normal;
}

.dropdown.date-collection-type{
    max-width: 100%;
}

#add-dates-div{
    margin-top: 1%;
    border: 3px dotted #bbb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1%;
}

.horizontal-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.date-availability-delete-button-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 1%;
}

.label-and-input-container{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.date-availability-container{
    border: 3px dotted #bbb;
    margin-top: 1%;
    padding: 1%;
}