#tripTypeDropdownButton{
    min-width: 150px;
}

.outer-container{
    display: flex;
    flex-direction:column;
    padding: 1%;
    flex-wrap: wrap;
}

.title{
    display: flex;
    flex-direction:row;
    justify-content: center;
}

.top-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#trips-container{
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 0 0 31%; 
    justify-content: space-between;
}

.trip{
    display: flex;
    flex-direction: column;
    box-shadow: 0 10px 20px rgba(0,0,0,0.23), 0 6px 6px rgba(0,0,0,0.23);
    padding: 1%;
    width: 31%;
    height: 200px;
    justify-content: space-between;
    margin-top: 2%;
    overflow: hidden;

    /* Position and center the image to scale nicely on all screens */
    background-position: 0% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    flex-direction: column;
    position: sticky;
}

.material-symbols-outlined.modified{
    line-height: normal;
}

.trip-actions{
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.pexels-logo{
    height: 20px;
    width: 50px;
    position: relative;
    align-self: flex-end;
}

.cover_image-block{
    align-self: flex-end;
}

.trip-title-block{
    background-color: rgba(255, 255, 255, 0.76);
}

/* phone view */
@media only screen and (max-width: 600px) {
    #trips-container{
        margin-top: 2%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .trip{
        display: flex;
        flex-direction: column;
        box-shadow: 0 10px 20px rgba(0,0,0,0.23), 0 6px 6px rgba(0,0,0,0.23);
        padding: 1%;
        width: 90%;
        height: 200px;
        justify-content: space-between;
        margin-top: 4%;
    }
  }

/* ------------------------------------------ new trip modal -----------------------------------------*/
.dotted{
    /* draws dotted line */ 
    border-top: 3px dotted #bbb;
}

.dropdown-item.date-collection-type{
    /* break long text to multiple lines */
    word-wrap: break-word;
    white-space: normal;
    /* separate options with line */
    border-bottom: 1px dotted #bbb;
}

.dropdown-menu.date-collection-type{
    /* break long text to multiple lines */
    max-width: 100%;
}

#date-collection-type{
    word-wrap: break-word;
    white-space: normal;
}

.dropdown.date-collection-type{
    max-width: 100%;
}

#add-dates-div{
    margin-top: 1%;
    border: 3px dotted #bbb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1%;
}

.horizontal-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.date-availability-delete-button-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 1%;
}

.label-and-input-container{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.date-availability-container{
    border: 3px dotted #bbb;
    margin-top: 1%;
    padding: 1%;
}