<!DOCTYPE html>
<html lang="en">

<head>
  <!-- SHARED HEAD -->
  <%- include('partials/sharedHead') %>

  <!-- Title tag in the browser and Google results -->
  <title>GroupTripper | Group Trip Planning App</title>
  <meta property="og:title" content="GroupTripper: best free group trip planner app" data-rh="true">
  <meta property="twitter:title" content="GroupTripper: best free group trip planner app" data-rh="true">
  <meta name="description" content="Plan your group vacation or trip with the best online travel planner app. Create itineraries faster as a group by sharing suggestions, creating polls, and voting with your friends." data-rh="true">
  <meta property="og:description" content="Plan your group vacation or trip with the best online travel planner app. Create itineraries faster as a group by sharing suggestions, creating polls, and voting with your friends." data-rh="true">
  <meta name="twitter:description" content="Plan your group vacation or trip with the best online travel planner app. Create itineraries faster as a group by sharing suggestions, creating polls, and voting with your friends." data-rh="true">
  <meta property="og:image:alt" content="Screenshot of GroupTripper: one view for your map and itinerary" data-rh="true">

  <!-- css -->
  <link rel="stylesheet" href="/css/hero-image.css">
  <link rel="stylesheet" href="/css/generic.css">
  <link rel="stylesheet" href="/css/footer.css">
  <link rel="stylesheet" href="/css/home.css">
</head>

<body>
  <div>
    <%- include('partials/header'); %>
    <%- include('partials/heroImageLoggedOut'); %>
  </div>
  <div class="outer-container">
    <div class="intro-container">
      <h3>Love going on trips with friends? Discover GroupTripper!</h3>
      <h4>EASILY ORGANIZE GROUP ADVENTURES WITHOUT THE HASSLE.</h4>
      <p>Farewell to those endless email exchanges and cluttered group messages. <br></p>
      <p>GroupTripper is your ultimate destination for planning unforgettable group trips.<br></p>
      <p>Bring your friends together to collectively decide on crucial trip elements such as 
      travel dates, accommodations, and activities. <br></p>
      <p>Thanks to our collaborative planning features, coordinating group travel has never been this simple!</p> 
      </p>
    </div>
    <h2 id="steps-description">Plan your trip in 5 easy steps..</h2>
    <div class="instruction-container">
      <p>
        Step 1. Create a trip and say when you're available
      </p>
      <img 
        src="/assets/functionality/3_add_new_trip.gif" 
        alt="Click on 'New trip' button, fill in the form and click save."
        id="add-new-trip-gif"
        >
    </div>
    <div class="instruction-container">
      <p>
        Step 2. Add friends to your profile
      </p>
      <img 
        src="/assets/functionality/4_add_friends.gif" 
        alt="Click on burger menu, go to profile, select tab friends, search email address and click add."
        id="add-friends-gif"
        >
    </div>
    <div class="instruction-container">
      <p>
        Step 3. Add friends to your trip
      </p>
      <img 
        src="/assets/functionality/invite friend to trip.gif" 
        alt="Instructions to add friend to trip"
        id="add-friend-to-trip-gif"
        >
    </div>
    <div class="instruction-container">
      <p>
        Step 4. Create the itinerary together
      </p>
      <img 
        src="/assets/functionality/create the itinerary together.gif" 
        alt="Demo of two people creating the itinerary collaboratively"
        id="collaborate-itinerary-gif"
        >
    </div>
    <div class="instruction-container">
      <p>
        Step 5. Poll your friends and simplify decisions
      </p>
      <img 
        src="/assets/functionality/polls.gif" 
        alt="Demo of polls feature"
        id="polls-gif"
        >
    </div>
    
  </div>
  
  <%- include('partials/footer'); %>
</body>

</html>