<footer id="footer">
  <div id="footer-left">
    <p>
      © 2023 Susanna Ventafridda (BurrataTech Srl.)
    </p>
  </div>
  <div id="footer-right">
    <p>Privacy Policy</p>
    <p>Terms and conditions</p>
  </div>
</footer>