<footer id="footer">
  <div id="footer-left">
    <p>
      © 2023 Susanna Ventafridda
    </p>
    <p>contact.grouptripper@gmail.com</p>
    <p>Warning: this site is in a beta test phase and may not function as expected yet.</p>
  </div>
  <div id="footer-right">
    <a class="footer-item" href="/legal/privacy" rel="nofollow" rel="noopener noreferrer">Privacy Policy</a>
    <a class="footer-item" href="/legal/terms" rel="nofollow" rel="noopener noreferrer">Terms and Conditions</a>
  </div>
</footer>
<script>
  // get live notifications
  getUserNotifications("<%= userID %>");
</script>