<header>
  <!-- Top navigation bar - collapsible on small screens - always stays at the top even when scrolling-->
  <nav class="navbar">
    <div class="navbar-header">
      <ul id="navbar-left" class="nav navbar-nav navbar-right">
        <li>
          <a href="/"><img id="logo" src="/assets/GroupTripper.svg" alt="GroupTripper logo"></a>
        </li>
      </ul>
    </div>
    <!-- Links in this part collapse within three lines menu on small screen -->
    <div id="topNavbar">
      <!-- Sign in/ log out links -->
      <a class="navbarlink" href="/auth/login" rel="nofollow">Log in</a>
      <a class="navbarlink" href="/auth/signup" rel="nofollow">Sign up</a>
    </div>
  </nav>
</header>