<header>
  <!-- Top navigation bar - collapsible on small screens - always stays at the top even when scrolling-->
  <nav class="navbar">
    <div class="navbar-header">
      <ul id="navbar-left" class="nav navbar-nav navbar-right">
        <li>
          <!-- color: #ff5555ff  -->
          <a href="/"><img id="logo" src="/assets/groupTripper.svg" alt="GroupTripper logo"></a>
        </li>
      </ul>
    </div>
    <div id="topNavbar">
      <% if ((typeof userIsAuthenticated != 'undefined') && (userIsAuthenticated === true)) { %>
        <div class="container-fluid">
          <button id="navbar-burger-menu" type="button" class="navbar-toggler ms-auto" 
           data-bs-toggle="dropdown" aria-expanded="false">
           <i class="fas fa-bars"></i>
          </button>
          <ul id="navbar-dropdown" class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" href="/profile" rel="nofollow"><span class="fa-solid fa-user"></span> Profile</a></li>
            <li><a class="dropdown-item" href="/settings" rel="nofollow"><span class="fa-solid fa-gear"></span> Settings</a></li>
            <li>
              <form method="post" action="/auth/sessionLogout" class="inline">
                <input type="hidden" name="extra_submit_param" value="extra_submit_value">
                <button type="submit" name="submit_param" value="submit_value" class="dropdown-item">
                  <span class="fa-solid fa-arrow-right-from-bracket"></span> Log out
                </button>
              </form>
            </li>
            <li><a class="dropdown-item" href="/contacts" rel="nofollow"><span class="fa-solid fa-message"></span> Contact us</a></li>
          </ul>
        </div>
      <% } else { %>
        <!-- Sign in/ log out links -->
        <div class="container-fluid">
          <button id="navbar-burger-menu" type="button" class="navbar-toggler ms-auto" 
           data-bs-toggle="dropdown" aria-expanded="false">
           <i class="fas fa-bars"></i>
          </button>
          <ul id="navbar-dropdown" class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" href="/auth/login" rel="nofollow"><span class="fa-solid fa-right-to-bracket"></span> Log in</a></li>
            <li><a class="dropdown-item" href="/auth/signup" rel="nofollow"><span class="fa-solid fa-door-open"></span> Sign up</a></li>
            <li><a class="dropdown-item" href="/contact" rel="nofollow"><span class="fa-solid fa-message"></span> Contact us</a></li>
          </ul>
        </div>
      <% } %>
    </div>
  </nav>
</header>