<header>
  <!-- Top navigation bar - collapsible on small screens - always stays at the top even when scrolling-->
  <nav class="navbar">
    <div class="navbar-header">
      <ul id="navbar-left" class="nav navbar-nav navbar-right">
        <li>
          <a href="/"><img id="logo" src="/assets/GroupTripper.svg" alt="GroupTripper logo"></a>
        </li>
      </ul>
    </div>
    <div id="topNavbar">
      <% if ((typeof userIsAuthenticated != 'undefined') && (userIsAuthenticated === true)) { %>
        <div class="container-fluid">
          <button id="navbar-burger-menu" type="button" class="navbar-toggler ms-auto" 
           data-bs-toggle="dropdown" aria-expanded="false">
           <i class="fas fa-bars"></i>
          </button>
          <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" href="/profile" rel="nofollow"><span class="fa-solid fa-user"></span> Profile</a></li>
            <li><a class="dropdown-item" href="/settings" rel="nofollow"><span class="fa-solid fa-gear"></span> Settings</a></li>
            <li><a class="dropdown-item" href="/logout" rel="nofollow"><span class="fa-solid fa-arrow-right-from-bracket"></span> Log out</a></li>
            <li><a class="dropdown-item" href="/contacts" rel="nofollow"><span class="fa-solid fa-message"></span> Contact us</a></li>
          </ul>
        </div>
      <% } else { %>
        <!-- Sign in/ log out links -->
        <a class="navbarlink" href="/auth/login" rel="nofollow">Log in</a>
        <a class="navbarlink" href="/auth/signup" rel="nofollow">Sign up</a>

        <div class="container-fluid">
          <button id="navbar-burger-menu" type="button" class="navbar-toggler ms-auto" 
           data-bs-toggle="dropdown" aria-expanded="false">
           <i class="fas fa-bars"></i>
          </button>
          <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" href="/contacts" rel="nofollow"><span class="fa-solid fa-message"></span> Contact us</a></li>
          </ul>
        </div>
      <% } %>
    </div>
  </nav>
</header>