<section>
  <!-- Hero image and call for action at top of the page, below navbar -->
  <div class="below-navbar">
    <div class="hero-image" title="GroupTripper hero image" role="img" aria-label="GroupTripper. Planning group trips made simple.">
      <div class="hero-text">
        <h2>Planning group trips, made simple.</h2>
      </div>
    </div>
  </div>
</section>